:root {
}

/* Client */

#rcp-fe-viewport-root #rcp-fe-lol-navigation-app {
  pointer-events: none;
  position: relative;
  z-index: 10;
}

.section,
:host-context(lol-uikit-navigation-bar[type="nav-bar-secondary"]) .section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #f1f1f1 !important;
  border: none;
  margin: 0;
  text-decoration: none;
  outline: none;
  transition: text-shadow 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  min-height: 20px;
  cursor: pointer;
}

.rcp-fe-viewport-sidebar {
  background: transparent !important;
}

/* removes support button on the top-right corner*/
.app-controls-support {
  display: none !important;
}

.rcp-fe-lol-home-sub-nav {
  display: block !important;
  opacity: 1 !important;
  width: calc(100%) !important;
  height: 18px !important;
  z-index: 100 !important;
}

/* removes the error message from the home screen */
.rcp-fe-lol-home-error,
.rcp-fe-lol-home-error-group {
  display: none !important;
}

/* Profile */

/* makes the profile visible when hovering, otherwise its invisible */

.lol-social-sidebar {
  background: transparent !important;
}

.lol-social-identity {
  transition: 0.2s !important;
  width: 0 !important;
}

.lol-social-identity:hover {
  transition: 0.2s !important;
  width: 100% !important;
  z-index: 100 !important;
}

.group-header {
  background: transparent !important;
}

/* makes the availability visible when hovering, otherwise its invisible */
.availability-hitbox {
  opacity: 0 !important;
  transition: 0.2s !important;
  width: 0 !important;
}

.availability-hitbox:hover {
  opacity: 1 !important;
  transition: 0.2s !important;
  width: 100% !important;
}

.lol-social-actions-bar {
  display: none !important;
}

/* makes the notifications button invisible */
.notifications-button {
  display: none !important;
}

.alpha-version-panel {
  border: none !important;
}

.alpha-version-panel > .social-button,
.alpha-version-panel > .bug-report-button {
  display: none !important;
}

/* Navbar */

.right-nav-vertical-rule {
  visibility: hidden !important;
}

.collections-sub-nav-container {
  z-index: 10 !important;
  filter: hue-rotate(0deg) !important;
}

.menu_item_navbar_event_hub {
  left: -330px !important;
}
.menu_item_navbar_competitive {
  left: -496px !important;
}

.menu_item_navbar_yourshop {
  left: -494px !important;
}

.basic-button {
  height: 48px !important;
  left: calc((1055px / 2) - 61px) !important;
  width: 122px !important;
  top: 15px !important;
}

.basic-button > .play-button-container {
  background: transparent !important;
}

.basic-button > .play-button-container > .play-button-content {
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 16px !important;
  position: unset !important;
  width: 100%;
}

.left-nav-menu {
  position: relative !important;
  margin-left: -200px !important;
}

.league-logo {
  display: none !important;
}

.play-button-frame {
  background: transparent !important;
}

lol-uikit-video-state-machine {
  display: none !important;
}

.main-navigation-menu-item[active] {
  opacity: 1 !important;
  pointer-events: none;
}

.rcp-fe-lol-navigation {
  background-color: transparent !important;
  border: none !important;
  width: calc(100%) !important;
}

.rcp-fe-lol-navigation:hover {
  background-color: transparent !important;
  border: none !important;
  width: calc(100%) !important;
}

div .rcp-fe-lol-home {
  background-color: transparent !important;
  width: calc(100%) !important;
}

div .rcp-fe-lol-home:hover {
  width: calc(100%) !important;
}

.navigation-status-ticker,
.ticker-button,
.has-incidents {
  display: none !important;
  opacity: 0 !important;
}

.rcp-fe-lol-navigation-app,
.rcp-fe-lol-navigation,
.main-nav-bar {
  background-color: transparent !important;
  border: none !important;
  width: calc(100%) !important;
}

.rcp-fe-lol-navigation-app:hover,
.rcp-fe-lol-navigation:hover,
.main-nav-bar:hover {
  background-color: transparent !important;
  border: none !important;
  width: calc(100%) !important;
}

.main-navigation-menu-item {
  /* opacity: 0 !important; */
  transition: 0.2s !important;
}

.main-navigation-menu-item:hover {
  opacity: 1 !important;
  transition: 0.2s !important;
  z-index: 100 !important;
}

.deep-links-promo {
  display: none !important;
  opacity: 0 !important;
}

.wallet-and-badges {
  margin-right: 0 !important;
  opacity: 1 !important;
}

.wallet-and-badges:hover {
  border: none !important;
  margin-right: 0 !important;
  opacity: 1 !important;
}

.wallet-and-badges > * {
  margin: 0 !important;
}
